.hidden
  visibility: hidden

.loader-overlay
  position: fixed
  width: 100%
  height: 100%
  z-index: 999999
  top: 0
  background: rgba(0,0,0,0.1)
  backdrop-filter: blur(5px) grayscale(60%)

.loader
  position: absolute
  left: 50%
  top: 50%
  margin: -50px 0 0 -50px
  border: 8px solid #fff // Light grey
  border-top: 8px solid #007bff // Blue
  border-radius: 50%
  width: 100px
  height: 100px
  animation: spin 2s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
