<div class="animate__animated animate__fadeIn card mt-6">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col-12 col-md-6 col-lg-3">
          <select class="form-control my-1" name="state" placeholder="" [disabled]="loading" [(ngModel)]="search.state">
            <option value="">Todos os estados</option>
            <option [value]="state._id" *ngFor="let state of states">({{ state.abbr }}) {{ state.name }}</option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <select class="form-control my-1" name="orderBy" placeholder="Ordenação" ngbTooltip="ordenação"
            placement="top" [disabled]="loading" [(ngModel)]="search.orderBy">
            <option value="asc">A > Z</option>
            <option value="desc">Z > A</option>
          </select>
        </div>
        <div class="col-12 col-md-8 col-lg">
          <input type="name" class="form-control my-1" name="name" placeholder="Digite uma cidade para pesquisar"
            [disabled]="loading" [(ngModel)]="search.name">
        </div>
        <div class="col-12 col-md-4 col-lg-2">
          <button class="btn btn-block btn-primary my-1" [disabled]="loading" (click)="getCities()">
            <!-- <i class="fas fa-search"></i> -->
            Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card p-0 animate__animated animate__fadeIn mt-3" *ngIf="cities.meta.total">
  <app-list-header [data]="cities.meta" (exec)="getCities($event)"></app-list-header>
  <app-list class="table-responsive" [cities]="cities"></app-list>
</div>