<app-loader></app-loader>
<div class="row m-0 vh-100">
  <div class="col align-self-center">
    <app-conn-fail-alert></app-conn-fail-alert>
    <header class="mb-4 animate__animated animate__fadeInDown">
      <app-header class="m-0"></app-header>
    </header>

    <div class="container">
      <app-filter></app-filter>
    </div>

    <footer class="my-4 animate__animated animate__fadeInUp">
      <app-footer></app-footer>
    </footer>
  </div>
</div>