<div class="my-2 p-1">
  <div class="row px-2">
    <div class="col-12 col-md my-1 my-sm-0 pt-2 text-center text-sm-left">
      <span class="h5 font-weight-bold" ngbTooltip="total de resultados de acordo com os filtros" placement="top">
        <i class="fas fa-info-circle"></i>
        Total:
        <span class="badge badge-primary">{{ data.total }}</span>
      </span>
    </div>
    <div class="col-12 col-sm my-2 my-sm-0">
      <ngb-pagination class="d-flex justify-content-center justify-content-sm-end" [(page)]="page"
        [pageSize]="data.perPage" [collectionSize]="data.total" [maxSize]="3" [rotate]="true"
        (pageChange)="pageChange($event)"></ngb-pagination>
    </div>
  </div>
</div>