<div class="container text-center">
  <i class="far fa-copyright"></i> feito por
  <a href="https://www.linkedin.com/in/alissonjunior/" target="_blank" class="badge badge-secondary">
    <i class="fab fa-linkedin"></i>
    Alisson Costa
  </a>
  para o desafio da
  <a href="https://zooxsmart.com/pt/" target="_blank" class="badge badge-primary">
    <i class="fas fa-external-link-alt"></i>
    Zoox
  </a>
</div>