<div class="text-center my-5">
  <h1 class="h1">
    <a href="https://zooxsmart.com/pt/" target="_blank" class="badge badge-primary mr-2">Zoox</a>

    <span class="badge badge-light mr-2">
      <i class="fas fa-search"></i>
      Busca de cidades
    </span>

  </h1>
  <p class="my-0">Consulta de cidades em uma aplicação Node.js</p>
</div>