<table class="table container table-hover table-striped m-0">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Estado</th>
      <th>Última atualização</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities.data; index as i">
      <td>{{ i + 1 }}</td>
      <td class="text-truncate">{{ city.name }}</td>
      <td>
        <span title="sigla" class="badge badge-secondary mr-1">{{ city.state.abbr }}</span>
        <span class="d-none d-lg-inline-block">{{ city.state.name }}</span>
      </td>
      <td>{{ city.updatedAt | date:'dd/MM/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>